#skills {
    padding: 100px 0!important;
}

.height {
    min-height: 100vh;
}

.one {
    font-weight: bold;
}

.title-underline {
    width: 200px;
    height: 10px;
    margin: 0 auto;
}

.height-80 {
    min-height: 80vh;
}